body{
    background-color: cadetblue;
}
h1{
    text-align: center;
    color: aliceblue;
}
.button{
    background-color: yellowgreen;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 10px;
}